<form style="display: flex; align-items: center; justify-content: center; padding: 30px;">
    <label for="name">Patron name:</label>
    <input type="text" id="name" name="name" />
    <input type="submit" value="name" class="btn btn-outline-danger" asp-action="Search" Search />
</form>

<form><button type="submit" class="w-25 btn btn-lg btn-outline-danger" asp-controller="Patron" asp-action="Index">Back Patron List</button></form>